<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>NBC Login Options</title>
</head>
<body>
	<h2>NBC Login Options</h2>
	<a href="/oauth2/authorization/google">Login In With Google</a>
</body>
</html>

<!--
	https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?
	response_type=code&
	client_id=667245185808-eidr4niin7iljscplh8m8ta4empm66v5.apps.googleusercontent.com&
	scope=openid%20profile%20email&
	state=IT1mc28wbvlzLb7eCFjhVbugkiYetj0yf7JVG3B2bcE%3D&
	redirect_uri=http%3A%2F%2Flocalhost%3A9090%2Fprocess-login&
	nonce=P-N4xFpbrPMjFyyr2SsQu-YHH0LxgSYgpa-DwSnMo3w&service=lso&
	o2v=2&
	theme=glif&
	flowName=GeneralOAuthFlow
-->